@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-center-directioncolumn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin flex-end {
    display: flex;
    justify-content: end;
    align-items: center;
}

@mixin food-desc {
    color: var(--color-grey);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
}

@mixin card {
    margin-top: 30px;
    .food-link {
        border-radius: 10px;
        text-decoration: none;
    }

    .food-card {
        @include flex-center-directioncolumn;
        background-color: var(--color-light);
        border-radius: 10px;
    }

    .food-img {
        border-radius: 10px 10px 0 0;
    }

    .food-desc {
        @include food-desc;
        margin-top: 29px;
    }

    .food-t {
        color: var(--color-dark);
        margin-top: 6px;
        font-size: 30px;
        line-height: 1.3;
    }

    .food-description {
        color: var(--color-dark);
        margin-top: 10px;
        margin-bottom: 50px;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
    }

    .food-link:hover {
        box-shadow: 4px 4px 3px 3px var(--color-grey);
    }
}